.ml-icon {
  background-image: url("../images/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.ml-icon2 {
  background-image: url("../images/sprite2.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.payment-method {
  background-image: url("../images/payment-methods.png");
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
}

.arrow {
  width: 12px;
  height: 14px;
  background-image: url("../images/arrow-top.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.boleto {
  width: 28px;
  height: 18px;
  background-position: left 0;
}

.visa {
  width: 34px;
  height: 11px;
  background-position: left -165px;
}

.master-card {
  width: 28px;
  height: 17px;
  background-position: left -126px;
}

.ml-icon-search {
  background-position: 13px 10px;
  width: 44px;
  height: 40px;
}

.ml-icon-heart {
  background-position: -2px -171px;
  width: 13px;
  height: 12px;
}

.ml-icon-verified {
  background-position: 0 0;
  height: 18px;
  width: 18px;
}
