* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54px;
  background: #fff059;
  border-bottom: 1px solid #d9d9d9;
  z-index: 5;
}

.header-box {
  position: relative;
  display: flex;
  align-items: center;
}

.search-form {
  display: inline;
}

.search-form > input {
  height: 40px;
  width: 450px;
  margin-left: 60px;
  border: 1px solid #ccc;
  border-radius: 3px 0px 0px 3px;
  outline: none;
  padding-left: 10px;
}

.search-form > button {
  background: linear-gradient(to bottom, #fff 0, #f1f1f1 100%);
  border-radius: 0 3px 3px 0;
  border: 1px solid #cdcccb;
  color: #666;
  position: absolute;
}

.header-actions-list {
  margin-left: 300px;
}

.header-actions-list li {
  display: inline;
  border-right: 1px solid #dccf50;
}

.header-actions-list li:last-child {
  border-right: none;
}

.header-actions-list li a {
  text-decoration: none;
  color: #716d39;
  opacity: 0.8;
  padding: 10px;
  font-size: 13px;
}

.header-actions-list li:hover a {
  opacity: 1;
}

/* MAIN */

.main-slide {
  height: 340px;
  background: #e5e9ef;
  padding: 80px 400px 0px 400px;
}

.slide-container {
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  height: 275px;
}

.slide-container > a {
  display: block;
  height: 100%;
  width: 300px;
  background-image: url("../images/home-desktop-main-slider-large-picture.png");
  background-repeat: no-repeat;
}

.slide-offer {
  margin-left: 50px;
}

.slide-offer > p {
  font-size: 14px;
  color: #666;
}

.slide-offer h1 {
  font-size: 31px;
  margin: 10px 0;
}

.slide-offer-carousel li {
  position: relative;
  display: inline;
  float: left;
  margin-right: 20px;
}

.slide-offer-carousel li:hover {
  cursor: pointer;
}

.slide-offer-carousel li:hover .favorite {
  display: flex;
}

.slide-offer-carousel li:hover .title {
  text-decoration: underline;
}

.slide-offer-carousel img {
  margin-bottom: 12px;
  z-index: -1;
}

.item-info {
  max-width: 130px;
}

.item-info .price {
  font-size: 14px;
}

.item-info .price .price-old {
  display: block;
  font-size: 13px;
  color: #666;
  text-decoration: line-through;
}

.item-info .price .current-price {
  font-weight: bold;
  color: #900;
}

.item-info .title {
  color: #444;
  font-size: 12px;
  height: 30px;
  line-height: 15px;
  margin: 0 0 5px;
  overflow: hidden;
}

.favorite {
  display: none;
  top: 4px;
  left: 4px;
  position: absolute;
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  padding: 4px;
  width: 15px;
  height: 15px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

/* SECTION 2 */

.categories-header {
  text-align: center;
}

.categories-header h1 {
  color: #666;
  font-size: 32px;
  font-weight: 400;
  margin: 20px 0px 5px 0px;
}

.categories-header p {
  color: rgb(153, 153, 153);
}

.categorias-classificados {
  float: left;
  width: 20%;
  height: 300px;
}

.categorias {
  float: left;
  width: 80%;
  height: 100%;

  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

.categories-content {
  padding: 0 20px 0 150px;
  position: relative;
  overflow: visible;
  padding-bottom: 70px;
  margin-top: 40px;
}

.categories-content li {
  display: fit-content;
  margin-bottom: 6px;
}

.categories-content li > a {
  border-radius: 4px;
  font-size: 13px;
  background-color: #eee;
  color: #444;
  line-height: 22px;
  padding: 1px 10px;
  display: inline-block;
  text-decoration: none;
  max-width: 85%;
  vertical-align: middle;
}

.categories-content li a:hover {
  background-color: #dddddd;
  cursor: pointer;
}

.categories-content h3 {
  color: #999;
  font-size: 13px;
  font-weight: normal;
  line-height: 1em;
  margin: 5px 0 8px;
}

.categories-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

/* SECTION 3 */
.registration-box {
  background-color: #efefef;
  padding: 40px;
  text-align: center;
}

.registration-box h3 {
  display: inline-block;
  margin-right: 10px;
  font-weight: 400;
  color: #888;
}

/* SECTION 4 */
.main-information {
  height: 265px;
}

/* SECTION 5 */
.main-banners {
  height: 300px;
}

.ml-btn {
  padding: 5px 10px;
  background-image: linear-gradient(#3e52a1, #2d3277);
  color: #fff;
  box-shadow: inset 0 1px #8ea2df;
  border: 1px solid #2d3277;
  border-radius: 4px;
  text-decoration: none;
  font-size: 18px;
}
