header {
  position: relative;
  background: green;
  height: 200px;
  font-size: 36pt;
  text-align: center;
  color: white;
}

#box1 {
  background: red;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 2;
}

#box2 {
  background: yellow;
  width: 200px;
  height: 200px;
  position: relative;
  left: 150px;
}

#box3 {
  background: blue;
  width: 200px;
  height: 200px;
  position: relative;
  top: -250px;
}
