header {
  background: green;
  height: 200px;
  text-align: center;
  font-size: 36pt;
  color: white;
}

section {
  background: blue;
  width: 600px;
  height: 1200px;
  margin: auto;
  margin-top: 10px;
}

#fixo {
  position: fixed;
  background: red;
  width: 120px;
  height: 120px;
  top: 60px;
  right: 60px;
}
