header {
  background: green;
  color: white;
  height: 100px;
  padding-top: 20px;
  text-align: center;
  font-size: 48pt;
  margin-bottom: 100px;
}

#container {
  display: flex;
  background: blue;
  width: 300px;
  height: 400px;
  margin: auto;
  padding: 5px;

  flex-direction: row;
  flex-wrap: wrap;

  align-content: space-between;
}

#item {
  width: 100px;
  background: #ffff;
  font-size: 20pt;
  line-height: 80px;
  text-align: center;
  border: solid 1px black;
}
