* {
  font-size: 36pt;
  text-align: center;
  font-weight: bold;
}

#pagina {
  width: 90%;
  background: blue;

  padding: 5px;
  margin: auto;

  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 200px 600px auto;
}

header {
  grid-column: 1/4;
  margin: auto;
}

nav {
  background: #ffff;
  grid-column: 1/2;
}

#conteudo {
  background: #ccc;
  grid-column: 2/3;
}

aside {
  background: #fff;
  grid-column: 3/4;
}

footer {
  background: #666;
  grid-column: 1/4;
}
